.search {
	display: flex;
	padding: 24px;
	gap: 12px;

	width: 500px;
	min-width: 120px;

	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 9999px;
}

.error {
	background-color: red;
	color: white;
	font-weight: 600;
}
